body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #f2f2f2;
}

header {
  background-color: #1a1a1a;
  color: #d6d6d6;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: #c5ffb0;
  font-size: 2em;
}
