//* --- SLIDESHOW SECTION --- */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 2rem auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  vertical-align: middle;
  border-radius: 10px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 10px 10px;
}

/* Dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
